h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}

.page{
    display:flex;
    flex-direction: row;
    flex:1 1 auto;
    justify-content: space-between;
}

#container{
    background-color: grey;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    padding:10px;
    border-radius:20px;
}

#side-panel{
    width:0;
    overflow:hidden;
    border-style:solid;
    border-width:1px;
    border-color: black;
    background-color:green;
}

#side-panel dialog{
    width: 400px;
    margin:0;
    padding:0;
/*    display:block; */
}

form{
    display:grid;
    grid-template: 1fr 1fr/1fr;
    grid-auto-flow: row;
   padding:20px;
   background-color: green;
   gap:5px
}

.card {
    height: max-content;
    width:250px;
    border-style: solid;
    border-width:2px;
    border-radius:10px;
    background-color: yellowgreen;
}